body
{
	font-family: Calibri, Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #FCECEC;
	color: #342D00;
}

h1, h2, h3
{
	color: #342D00;	
}

a
{
	text-decoration: none;
	color: blue;
}

a:hover
{
	text-decoration:underline;
}

a:visited 
{
	color: blue;
}

form
{
	display: inline;
}

td
{
	padding: 0 5px;
}

.report
{
	text-align: right;
}

.bookurl
{
	font-style: italic;
	font-size: 0.7em;
}

.bookdesc
{
	font-size: 0.8em;
}

#title
{
	margin: 10px 10px;
}

#hiddenDivQ a
{
	margin: 0 10em 0 8px;
	font-size: 0.9em;
}

.hiddenDivA
{
	margin: 0 10em 0 8px;
	padding: 5px;
	font-size: 0.9em;
	background:#CFE3FF;
    border: 1px solid #559DFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* width: 5em; */
}

#language
{
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
}

#wrap
{
	float: left;
	width: 100%;
	min-height: 100%;
}

#navigation
{
	float: right;
	width: 11em;
	text-align: right;
	border-left: 10px groove #806e00;
	margin-left: -16em;
	margin-right: 3px;
	/* background: #FCECEC url("images/verticalrule.gif") repeat-y left;*/
}

#navigation ul
{
	list-style: none;
}

#navigation li
{
	/* line-height: 1.8em; */
}

#navigation p img
{
	width: 9em;
	height: 1em;
}

#contentwrap
{
	width: 100%;
	float: left;
}

#content
{
	margin: 0 13em 0 1.3em;
	overflow:auto;
	padding: 0 0 1em 0;
}

#content h2
{
	padding: 5px 0 0 0;
}

#content p
{
	padding: 0px 0 0em 8px;
}

#footer
{
	margin-top: -180px; /* negative value of footer height */
	padding: 2em 0 0 0;
	height: 150px;
	clear:both;
	border-top: 1px #999999;
	margin: 0 30em 0 0.5em; 
	font-family: Cambria, "Times New Roman", Times, serif;
	font-size: 0.7em;
}

#footer p
{
	padding: 10px 30px 20px 20px;
}

#tags
{
	/* font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; */
}

.tab_container {
	border: 1px solid #999;
	border-top: 1px solid #999;
	overflow: hidden;
	clear: both;
	margin: 0 13em 0 0;
	float: left	width: 90%;
	/* background: #fff; */
}

.tab_page {
	font-size: 1.2em;
}

.tab_page ul {
	margin-left: -1.5em;
}

.tab_page li {
	list-style-type: none;
}

.search ul {
}

.search li {
	list-style-type: none;
	font-size: 1.1em;
}

.tag_cloud p{
	margin: 20px 0 20px 1em;
    background:#CFE3FF;
    color:#0066FF;
    padding: 10px;
    border: 1px solid #559DFF;
    text-align:center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
 
.tag_cloud a, .tag_cloud a:visited {
    text-decoration:none;
    color: #333;
}
 
.tag_cloud a:hover {
    text-decoration: underline;
}

form td {
	padding-left: 0 15px;
}

form tr {
	padding: 5px 0;
}
/*
#tabs {
	padding: 0px;
	background: none;
	border-width: 0px;
}

#tabs-nohdr .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

#tabs .ui-tabs-nav li {
	margin-top: 0.6em;
	font-size: 80%;
}

#tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-top: 0em;
	font-size: 100%;
}
	
#tabs .ui-tabs-panel {
	background: url(images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top #f5f3e5;
	border-width: 0px 1px 1px 1px;
}
*/

#tabs {
	padding: 0px;
	background: none;
	border-width: 0px;
}
#tabs .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
#tabs .ui-tabs-panel {
	background: url(images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top #f5f3e5;
	border-width: 0px 1px 1px 1px;
}

#tabs .ui-tabs-nav li {
	margin-top: 0.3em;
	font-size: 90%;
}

#tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-top: 0em;
	font-size: 100%;
}